<br>
<div class="about-section">
  <h1>About Us Page</h1>
  
  <p>Step into Jungle, your ultimate haven for lush greenery and serene surroundings.</p>
  <p>We are an online store committed to offering you a premium array of indoor and outdoor plants. Ranging from lively tropical foliage to rare succulents, we meticulously curate a varied collection to cater to the preferences of every plant enthusiast.</p>
  <p>Our team of horticulturists ensures that each plant adheres to our stringent standards of quality and sustainability. With a user-friendly website and outstanding customer service, we simplify the process for you to explore, order, and nurture your plants.</p>
  <p>Become part of our community and experience the satisfaction of fostering a more verdant world. Welcome to Jungle, where the wonders of nature flourish </p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Bob</h2>
        <p class="title">Founder</p>
        <p>Lorem ipsum ipsum lorem.</p>
        <p>bob@jungle.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Alice</h2>
        <p class="title">CEO</p>
        <p>Lorem ipsum ipsum lorem.</p>
        <p>alice@jungle.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Mallory</h2>
        <p class="title">Sales Manager</p>
        <p>Lorem ipsum ipsum lorem.</p>
        <p>mallory@jungle.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>