// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-control {
  max-width: 300px;
  width: 100%;
  margin: 1em;
}